In [1]:
#import dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests

In [2]:
#Choose the executable path to driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#Visit the Nasa Web Page with Splinter
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [79]:
#Create a HTML object to parse with Beautiful Soup
html = browser.html

#Parse HTML Object with Beautiful Soup
soup = bs(html, 'html.parser')

In [128]:
#Nasa Mars News
#Retrieve the latest News Title and News Paragraph data
#Inspect web page for root path to information use soup.find to pull the data

news_title = soup.find('div', class_ ='list_text').find('a').text

news_paragraph = soup.find('div', class_='article_teaser_body').text


#print scrapped title and paragragh
print(news_title)
print(news_paragraph)

NASA to Reveal Name of Its Next Mars Rover
After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday.

In [129]:
#JPL Mars Space Images
#Use splinter to find the url for the current featured image

mars_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(mars_image_url)

In [130]:
#create an HTML object to parse with Beautiful Soup
html_image = browser.html

#parse HTML with Beautiful Soup
soup = bs(html_image, 'html.parser')

In [132]:
#retrieve background -image url from the style tag
featured_image_url = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

#connect the main url for the website to the background image url
#base url
main_url = 'https://www.jpl.nasa.gov'

#join base url and background url
featured_image_url = main_url + featured_image_url


print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19631-1920x1200.jpg

In [133]:
#Mars Weather
#Grab the latest weather report tweet from the mars twitter account
twitter_weather_url= 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_weather_url)

In [136]:
#create an HTML object to parse with Beautiful Soup
html_twitter_weather= browser.html

#parse object with Beautiful Soup
soup = bs(html_twitter_weather, 'html.parser')

In [141]:
#Grab the latest weather tweet
latest_weather_tweet = soup.find('div', class_ ='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0').find('span').text
latest_weather_tweet

'InSight sol 451 (2020-03-03) low -93.6ºC (-136.4ºF) high -10.3ºC (13.4ºF)\nwinds from the SSE at 6.3 m/s (14.2 mph) gusting to 19.9 m/s (44.5 mph)\npressure at 6.30 hPa'

In [143]:
#Mars Facts
#Scrape table containing facts about planet mars using pandas

#place URL in variable to be called by pandas
mars_facts_url = 'https://space-facts.com/mars/'

#Use pandas to parse the URL
mars_facts = pd.read_html(mars_facts_url)
mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [146]:
mars_facts_df = mars_facts[0]

In [145]:
#Change titles 
mars_facts_df.columns = ['Perameter', 'Facts']
mars_facts_df

              Perameter                          Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [148]:
#prep for HTML page
mars_facts_df.set_index('Perameter', inplace=True)

#Save to HTML
mars_facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Facts</th>\n    </tr>\n    <tr>\n      <th>Perameter</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'